:root{
    --bright-red: hsl(12, 88%, 59%);
    --dark-blue: hsl(228, 39%, 23%);
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --very-dark-blue: hsl(233, 12%, 13%);
    --very-pale-red: hsl(13, 100%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
    min-height: 100vh;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
.get{
    display: block;
    width: fit-content;
    padding: 18px 25px 15px;
    background-color: var(--bright-red);
    color: #fff;
    box-shadow: 0px 6px 10px hsl(12, 88%, 59%, 50%);
    border-radius: 50px;
    transition: 0.3s;
}
@media (max-width: 991px) {
    .get{
        font-size: 14px;
        padding: 18px 10px 15px;
    }
}
@media (max-width: 767px) {
    .header .get{
        display: none;
    }
}
.get:hover{
    background-color: hsl(12, 88%, 59%, 70%);
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    height: 120px;
}
.header .logo{
    display: block;
    width: fit-content;
    padding-top: 10px;
}
.header .logo img{
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .logo{
        margin-right: 30px;
    }
}
.header .bars{
    display: none;
    height: 16px;
    width: 25px;
    position: relative;
    cursor: pointer;
}
.header .bars span{
    width: 100%;
    height: 4px;
    background-color: var(--dark-blue);
    position: absolute;
    left: 0;
}
.header .bars span:first-child{
    top: 0;
}
.header .bars span:nth-child(2){
    top: 6px;
}
.header .bars span:last-child{
    top: 12px;
}
.header .bars:hover span:first-child{
    top: 6px;
    transform: rotate(45deg);
    transition: 0.3s;
}
.header .bars:hover span:nth-child(2){
    display: none;
}
.header .bars:hover span:last-child{
    top: 6px;
    transform: rotate(-45deg);
    transition: 0.3s;
}
@media (max-width: 767px) {
    .header .bars{
        display: block;
    }
}
.header .container .overlay{
    display: none;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, transparent 60% , rgba(0, 0, 0, 0.418));
}
.header .bars:hover + .overlay{
    display: block;
}
.header .links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
@media (max-width: 991px) {
    .header .links{
        gap: 10px;
    }
}
@media (max-width: 767px) {
    .header .links{
        display: none;
        z-index: -100;
        opacity: 0;
        background-color: #fff;
        padding: 20px;
        gap: 0px;
        width: 80%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% + 50px);
        flex-direction: column;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.24);
        transition: display 0.3s, z-index 0.3s top 0.6s, opacity 0.6s ;
    }
    .header .bars:hover + .overlay + .links{
        display: flex;
        z-index: 100;
        opacity: 1;
        top: 100%;
    }
}
.header .links a{
    display: block;
    width: fit-content;
    color: var(--dark-blue);
    padding: 10px;
    font-weight: 500;
    transition: 0.3s;
}
@media (max-width: 991px) {
    .header .links a{
        font-size: 14px;
    }
}
.header .links a:hover{
    color: var(--dark-grayish-blue);
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 120px;
}
.intro .pattern{
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.intro .pattern img{
    max-width: 100%;
    position: relative;
    right: -132px;
    top: -35px;
    z-index: -1;
}
.intro .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:  calc(100vh - 120px);
    position: relative;
    z-index: 3;
}
@media (max-width: 991px) {
    .intro .container{
        flex-direction: column;
    }
}
.intro .info{
    flex: 1;
}
.intro .info h1{
    color: var(--dark-blue);
    font-size: 50px;
    margin: 0 0 30px 0;
}
@media (max-width: 991px) {
    .intro .info h1{
        font-size: 30px;
        text-align: center;
    }
}
.intro .info p{
    line-height: 1.6;
    color: var(--dark-grayish-blue);
    margin: 0 0 30px 0;
    max-width: 350px;
}
@media (max-width: 991px) {
    .intro .info p{
        max-width: 80%;
        font-size: 16px;
        text-align: center;
        margin: 0 auto 30px;
    }
}
@media (max-width: 991px) {
    .intro .info a.get{
        margin-left: auto;
        margin-right: auto;
        padding: 18px 25px 15px;
    }
}
.intro .image{
    flex: 1;
}
@media (max-width: 991px) {
    .intro .image{
        order: -1;
    }
}
@media (min-width: 1400px) {
    .intro .image{
        transform: translateX(100px);
    }
}
.intro .image img:first-child{
    max-width: 100%;
}
@media (max-width: 767px) {
    .intro .image img:first-child{
        width: 450px
    }
}

.about{
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
}
.about .pattern{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
@media (max-width: 991px) {
    .about .pattern{
        display: none;
    }
}
.about .pattern img{
    position: relative;
    left: -475px;
    bottom: -526px;
    max-width: 100%;
}

.about .container{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
@media (max-width: 991px) {
    .about .container{
        flex-direction: column;
    }
}
.about .title{
    flex: 1;
}
.about .title .main-title{
        font-size: 35px;
    line-height: 1.2;
    color: var(--dark-blue);
    margin: 0 0 20px;
}
@media (max-width: 991px) {
    .about .title .main-title{
        font-size: 30px;
        text-align: center;
    }
}
.about .title .des{
    line-height: 1.6;
    color: var(--dark-grayish-blue);
    max-width: 350px;
}
@media (max-width: 991px) {
    .about .title .des{
        margin: 0 auto;
        text-align: center;
    }
}
.about .content{
    flex: 1;
}
.about .content .box{
    margin-bottom: 50px;
    counter-increment: features;
    padding-left: 70px;
}
@media (max-width: 991px) {
    .about .content .box{
        padding: 0;
    }
}
.about .content .box h3{
    font-size: 18px;
    margin: 0 0 20px;
    color: var(--dark-blue);
    position: relative;
}
@media (max-width: 991px) {
    .about .content .box h3{
        text-align: center;
        font-size: 15px;
        padding: 10px 2px 10px 0;
        border-radius: 25px;
        background-color: var(--very-pale-red);
    }
}
@media (max-width: 375px) {
    .about .content .box h3{
        padding: 10px 2px 10px 80px;
    }
}
.about .content .box h3::before{
    content: "0" counter(features);
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 25px;
    color: #fff;
    background-color: var(--bright-red);
    border-radius: 25px;
}
@media (max-width: 991px) {
    .about .content .box h3::before{
        left: 0;
    }
}
.about .content .box p{
    line-height: 1.6;
    color: var(--dark-grayish-blue);
    max-width: 450px;
}
@media (max-width: 991px) {
    .about .content .box p{
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
    }
}
.tests{
    padding-top: 60px;
    padding-bottom: 60px;
}
.tests .main-title{
    text-align: center;
    font-size: 35px;
    color: var(--dark-blue);
    margin: 0 0 110px 0 ;
}
.tests .content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    overflow: hidden;
    padding: 30px 0;
}
@media (max-width: 991px) {
    .tests .content{
        grid-template-columns: 1fr;
        gap: 0;
        padding: 30px;
    }
}
.tests .box{
    background-color: var(--very-light-gray);
    padding: 25px;
    position: relative;
}
@media (max-width: 991px) {
    .tests .box{
        margin: auto;
    }
    .tests .box:nth-child(2),
    .tests .box:last-child{
        display: none;
    }
}
.tests .box img{
    width: 50px;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
}
.tests .box h3{
    margin: 30px 0 20px 0 ;
    text-align: center;
    color: var(--dark-blue);
}
@media (max-width: 991px) {
    .tests .box h3{
        font-size: 18px;
    }
}
.tests .box p{
    text-align: center;
    color: var(--dark-grayish-blue);
    font-size: 16px;
    line-height: 1.6;
}
@media (max-width: 991px) {
    .tests .box p{
        font-size: 14px;
    }
}
.dots{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.dots span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--bright-red);
}
.dots span:nth-child(2){
    background-color: var(--bright-red);
}
@media (max-width: 991px) {
    .dots{
        display: flex;
    }
}
.tests .get{
    margin: 50px auto 0;
    padding: 18px 25px 15px;
}

.simplify{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--bright-red);
    color: #fff;
}
.simplify .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 991px) {
    .simplify .container{
        flex-direction: column;
        text-align: center;
    }
}
.simplify h1{
    max-width: 550px;
    font-size: 35px;
    line-height: 1.2;
    margin: 0;
}
@media (max-width: 991px) {
    .simplify h1{
        max-width: 250px;
        font-size: 30px;
    }
}
.simplify .get{
    background-color: #fff;
    border: 2px solid var(--bright-red);
    color: var(--bright-red);
    font-weight: 500;
    transition: 0.3s;
}
.simplify .get:hover{
    color: hsl(12, 88%, 59%, 80%);
}
@media (max-width: 991px) {
    .simplify .get{
        margin-top: 20px;
        padding: 18px 25px 15px;
    }
}
.footer{
    background-color: var(--very-dark-blue);
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 150px;
}
@media (max-width: 1199px) {
    .footer .container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        column-gap: 0;
        row-gap: 60px;
    }
}
.footer .content{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
@media (max-width: 991px) {
    .footer .content{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
    }
}
.footer .social-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.footer .social-cont .social{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
@media (max-width: 991px) {
    .footer .social-cont .social{
        order: -1;
        gap: 30px;
    }
}
@media (max-width: 991px) {
    .footer .social-cont{
        order: 3;
    }
}
@media (max-width: 991px) {
    .footer .social-cont .social a img{
        width: 30px;
    }
}
.footer .links-cont{
    display: flex;
    justify-content: space-between;
    gap: 150px;
}
@media (max-width: 991px) {
    .footer .links-cont{
        order: 2;
        gap: 60px;
    }
}
.footer .links li{
    margin-bottom: 12px;
}
.footer .links li a{
    color: var(--dark-grayish-blue);
    opacity: 0.9;
}
.footer form input[type="text"]{
    padding: 15px 20px;
    width: 250px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
}
@media (max-width: 991px) {
    .footer form{
        order: 1;
    }
}
.footer form input[type="text"]:focus{
    outline: none;
}
.footer form input[type="text"]::placeholder{
    transition: 0.3s;
}
.footer form input[type="text"]:focus::placeholder{
    opacity: 0;
}
.footer form input[type="submit"]{
    padding: 15px 20px 12px;
    border-radius: 25px;
    border: none;
    background-color: var(--bright-red);
    color: #fff;
    cursor: pointer;
}
.footer .copy-right{
    margin-left: auto;
    margin-right: 110px;
    margin-top: -30px;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    text-align: right;
}
@media (max-width: 1199px) {
    .footer .copy-right{
        margin: auto;
    }
}
@media (max-width: 991px) {
    .footer .copy-right{
        order: 4;
    }
}